* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
}

a {
    text-decoration: none;
}

:root {
    --color-text-white: #e6e6e6;
    --color-text-orange: #ff703b;
    --bg-color: #0f0f0f;
    --bg-color-opacity: #1d1d1d13;
}

html{
    overflow: hidden;
}

body{
    background-color: var(--bg-color);
    position: relative;
    height: 100vh;
    overflow-y: auto;
    transition: all 0.5s ease-in-out;
}

.bodyScrollLock {
    overflow-y: hidden;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.container-mode{
    position: fixed;
    bottom: 5vw;
    right: 5vw;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
}

.container-mode svg{
    fill: var(--color-text-white);
}

.container-mode svg:last-child{
    display: none;
}

body::-webkit-scrollbar{
    width: 5px;
}

body::-webkit-scrollbar-thumb{
    background-color: var(--color-text-orange);
    border-radius: 2.5px;
}

html {
    font-size: 17px;
}

nav {
    position: fixed;
    top: 0;
    margin: 0 auto;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 55px;
    max-width: 1280px;
    background-color: var(--bg-color);
    z-index: 1;
    transition: all 0.5s ease-in-out;
}

.brand {
    display: flex;
    position: relative;
    left: -100px;
    opacity: 0;
}

header>nav>a {
    font-size: 2rem;
    font-weight: 700;
}

#ld,
#lm {
    background-color: var(--bg-color);
    z-index: 1;
    transition: all 0.5s ease-in-out;
}

#name {
    color: var(--color-text-orange);
}

#surname {
    color: var(--color-text-white)
}

#name,
#surname {
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

#lname {
    animation: anim 20s 3s ease-in infinite;
}

#lsurname {
    animation: anim 20s 4.25s ease-in infinite;
}

@keyframes anim {
    5% {
        transform: translateX(-100%);
        margin-right: -93.64px;
    }

    50% {
        transform: translateX(-100%);
        margin-right: -93.64px;
    }

    55% {
        transform: translateX(0%);
        margin-right: 0px;
    }

    100% {
        transform: translateX(0%);
        margin-right: 0px;
    }
}

.navbar-menu {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

.current-section{
    position: absolute;
    width: 61.39px;
    height: 2px;
    background: var(--color-text-orange);
    left: 0;
    bottom: 0;
    opacity: 0;
}

.navbar-item {
    position: relative;
    left: 100px;
    opacity: 0;
    color: #ff703b;
    font-weight: 600;
    padding: 0 10px;
    display: block;
    cursor: pointer;
}

nav .navbar-burger {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 7px 0px;
    display: none;
    z-index: 3;

}

.navbar-burger span {
    background-color: var(--color-text-white);
    width: 20px;
    height: 1px;
    display: block;
    transform-origin: top left;
    transition: all .1s ease-in;
}

.navbar-burger.is-active span:first-child {
    transform: rotate(45deg);
    width: 24px;
}

.navbar-burger.is-active span:nth-child(2) {
    transform: translateX(-100%);
    opacity: 0;
}

.navbar-burger.is-active span:nth-child(3) {
    transform: rotate(-46deg);
    width: 24px;
}

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 54px 20px 0px 20px;
    align-items: center;
}

.img-hero {
    width: 26vw;
    position: relative;
    left: -100px;
    opacity: 0;
    border-radius: 0px 0px 20% 20%;
}

.container-hero-text {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-hero-text h1 {
    position: relative;
    top: 100px;
    opacity: 0;
    color: var(--color-text-orange);
    font-size: clamp(40px, 5vw, 70px);
    margin-bottom: 20px;
}

.container-hero-text p {
    position: relative;
    top: 100px;
    opacity: 0;
    color: var(--color-text-white);
    font-size: clamp(16px, 1.7vw, 40px);
}

.container-hero-text p span {
    cursor: pointer;
    color: var(--color-text-orange);
}

.container-btn-cv {
    position: relative;
    top: 100px;
    opacity: 0;
    width: 80%;
    display: flex;
    justify-content: end;
    margin-top: 10px;
    height: 40px;
}

.container-btn-cv::before {
    content: "";
    top: 0;
    right: 0;
    width: 120px;
    height: 100%;
    border-radius: 5px;
    background-color: var(--color-text-orange);
    transform: translateX(120px);
    z-index: -1;
}

.container-hero-text .container-btn-cv a {
    background-color: var(--bg-color);
    color: var(--color-text-white);
    width: 120px;
    min-width: 120px;
    padding: 3px 0px;
    text-align: center;
    border-radius: 5px;
    font-size: 25px;
    border: 2px solid var(--color-text-orange);
    transition: all .1s ease-in;
}

.contaner-anim-hero {
    width: 100%;
    height: 400px;
    position: relative;
    top: 100px;
}

.ch-flip{
    top: 20px !important;
    transform: scale(-1);
}

.hex{
    position: absolute;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: var(--color-text-orange);
    opacity: 0;
}

.hex:nth-child(1) {
    bottom: 6.6vw;
    left: 0px;
    width: 14vh;
    height: 14vh;
    animation: animHex 10s 1s ease-in infinite;
}

.hex:nth-child(2) {
    bottom: 0.4vw;
    left: 0.4vw;
    width: 5.3vw;
    height: 5.3vw;
    animation: animHex 10s 2s ease-in infinite;
}

.hex:nth-child(3) {
    bottom: 2vh;
    left: 6.5vw;
    width: 6.8vw;
    height: 6.8vw;
    animation: animHex 10s 3s ease-in infinite;
}

.hex:nth-child(4) {
    bottom: 8.5vw;
    left: 9vw;
    width: 4.2vw;
    height: 4.2vw;
    animation: animHex 10s 4s ease-in infinite;
}

.hex:nth-child(5) {
    bottom: 5vw;
    left: 14.3vw;
    width: 6.35vw;
    height: 6.35vw;
    animation: animHex 10s 5s ease-in infinite;
}

.hex:nth-child(6) {
    bottom: 2vw;
    left: 14.4vw;
    width: 2.7vw;
    height: 2.7vw;
    animation: animHex 10s 6s ease-in infinite;
}

.hex:nth-child(7) {
    bottom: 0.3vw;
    left: 18vw;
    width: 5.3vw;
    height: 5.3vw;
    animation: animHex 10s 7s ease-in infinite;
}

.hex:nth-child(8) {
    bottom: 5vw;
    left: 21.5vw;
    width: 3.7vw;
    height: 3.7vw;
    animation: animHex 10s 8s ease-in infinite;
}

.hex:nth-child(9) {
    bottom: 2vw;
    left: 24.3vw;
    width: 2.7vw;
    height: 2.7vw;
    animation: animHex 10s 9s ease-in infinite;
}

@keyframes animHex {
    25%{
        opacity: .7;
    }50%{
        opacity: .7;
        transform: translateY(15px);
    }75%{
        opacity: 0;
    }100%{
        opacity: 0;
        transform: translateY(0px);
    }
}

main{
    display: none;
    padding: 0px 20px;
    height: 2000px;
}

section{
    padding-top: 100px;
}

.knowledge{
    overflow: hidden;
}

h2{
    color: var(--color-text-orange);
    font-size: 2.5rem;
    position: relative;
    top: 100px;
    opacity: 0;
}

.container-section-text{
    padding: 0px 50px;
    margin-top: 20px;
}

.about .container-section-text p{
    font-weight: 500;
    color: var(--color-text-white);
    text-align: justify;
    position: relative;
    top: 100px;
    opacity: 0;
}

.cotainer-thumbnails{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.c-thumbnail{
    position: relative;
    width: 200px;
    height: 300px;
    margin: 0px 20px 20px 20px;
    top: 100px;
    opacity: 0;
}

.c-thumbnail div:first-child{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--color-text-orange);
    border-radius: 5px;
}

.container-thumb-tech{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
    background-color: #e6e6e6;
    border: 3px solid var(--color-text-orange);
    transition: all .1s ease-in;
}

.container-thumb-tech h4{
    color: #0f0f0f;
    margin: 0px 10px;
    transition: all 0.5s ease-in-out;
}

.container-thumb-tech > img{
    height: 150px;
}

.c-tech {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.modal-portfolio{
    position: fixed;
    top: 0;
    height: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: #0f0f0f80;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-project::-webkit-scrollbar{
    width: 5px;
}

.container-project::-webkit-scrollbar-thumb{
    background-color: var(--color-text-orange);
    border-radius: 2.5px;
}

.container-project{
    position: relative;
    width: 80%;
    height: 80%;
    background-color: #e6e6e6;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px 0px 10px 0px var(--color-text-orange);
    overflow: auto;
}

.container-project h3{
    font-size: 35px;
    margin-bottom: 10px;
}

.container-project h4{
    font-size: 1.5rem;
}

.container-video{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-video iframe{
    width: 426px;
    height: 240px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.cont-iframe{
    position: relative;
}

.cont-iframe div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0f0f0f;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-iframe div p{
    font-size: 30px;
    font-weight: 700;
    color: var(--color-text-orange);

    animation: loading-video 2s ease infinite;
}

@keyframes loading-video {
    50%{
        transform: scale(1.5);
    }100%{
        transform: scale(1);
    }
}

.container-video a{
    display: contents;
    font-weight: 600;
    color: var(--bg-color);

    transition: all .2s ease-in;
}

.container-video a:hover{
    color: var(--color-text-orange);
}

.equis{
    position: absolute;
    width: 25px;
    height: 25px;
    top: 15px;
    right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1.5px;
    cursor: pointer;
}

.equis span{
    width: 135%;
    height: 2px;
    background-color: #0f0f0f;
    transform-origin: left;
    border-radius: 2px;
    transition: all 0.5s ease-in-out;
}

.equis span:nth-child(1){
    transform: rotate(46deg) translateX(0px);
}

.equis span:nth-child(2){
    transform: rotate(-46deg) translateX(0px);
}

.container-knowledge{
    margin: 20px auto;
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr .5fr repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 1vw;
    grid-template-areas: "blank  blank   beginner   elementary   intermediate   advanced   expert"
                         "html   html    p1         p2           p3             p4         p5"
                         "css    css     p1         p2           p3             p4         p5"
                         "js     js      p1         p2           p3             p4         p5"
                         "jq     jq      p1         p2           p3             p4         p5"
                         "bulma  bulma   p1         p2           p3             p4         p5"
                         "sql    sql     p1         p2           p3             p4         p5"
                         "njs    njs     p1         p2           p3             p4         p5"
                         "pt     pt      p1         p2           p3             p4         p5"
                         "git    git     p1         p2           p3             p4         p5";
}

.point{
    position: relative;
    left: 100px;
    opacity: 0;
}

.container-knowledge h4{
    position: relative;
    left: 100px;
    opacity: 0;
    font-size: clamp(15px, 1.5vw, 21px);
    color: var(--color-text-white);
    border: solid 1px var(--color-text-white);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.container-knowledge h3{
    position: relative;
    top: 100px;
    opacity: 0;
    font-size: clamp(25px, 2.5vw, 32px);
}

.container-knowledge div{
    display: flex;
    align-items: center;
}

.container-knowledge .point{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: solid 2px var(--color-text-orange);
}

.tech-logo{
    position: relative;
    top: 100px;
    opacity: 0;
    width: clamp(15px, 3.5vw, 40px);
}

.beginner{
    grid-column: beginner;
}

.html{
    grid-column: html;
}

.css{
    grid-column: css;
}

.js{
    grid-column: js;
}

.jq{
    grid-column: jq;
}

.bulma{
    grid-column: bulma;
}

.sql{
    grid-column: sql;
}

.njs{
    grid-column: njs;
}

.pt{
    grid-column: pt;
}

.git{
    grid-column: pt;
}

.html h3{
    color: var(--color-text-orange);
}

.css h3{
    color: #2864efff;
}

.js h3{
    color: #fdd638ff;
}

.jq h3{
    color: #0767abff;
}

.bulma h3{
    color: #01d0b1ff;
}

.sql h3{
    color: #e38d01ff;
}

.sql h3 span{
    color: #006089ff;
}

.njs h3{
    color: #509d41ff;
}

.njs h3 span{
    color: var(--color-text-white);
}

.pt h3{
    color: #fed241ff;
}

.pt h3 span{
    color: #3572a4ff;
}

.git h3{
    color: var(--color-text-white);
}

.contact{
    padding-bottom: 15em;
}

.contact .container-contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    font-weight: 600;
}

.contact .container-contact h4{
    position: relative;
    top: 100px;
    opacity: 0;
    color: var(--color-text-white);
    font-size: 20px;
}

.contact .container-contact a{
    position: relative;
    top: 100px;
    opacity: 0;
    color: var(--color-text-orange);
    font-size: 20px;
    font-style: italic;
}

.so-net{
    fill: var(--color-text-white);
    margin: .5em;
    transition: all .1s ease-in;
}

@media (max-width: 768px) {
    nav .navbar-burger {
        display: flex;
    }

    nav .navbar-menu {
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        background-color: var(--bg-color-opacity);
        backdrop-filter: blur(10px);
        z-index: 2;
        transition: all .4s ease-in;
    }

    .show-menu {
        left: 0px !important;
    }

    .navbar-item {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .img-hero:hover {
        transform: none !important;
    }

    .contaner-anim-hero{
        display: none;
    }

    .container-section-text{
        padding: 0px 15px;
    }

    .current-section{
        display: none;
    }

    .container-knowledge h4{
        font-size: clamp(4px, 1.7vw, 14px);
    }

    .container-knowledge h3{
        font-size: clamp(10px, 3.2vw, 25px);
    }
}

@media (max-width: 425px) {
    .hero {
        flex-direction: column-reverse;
        justify-content: start;
        align-items: initial;
        padding-top: 60px;
    }

    .img-hero {
        width: 50vw;
    }

    .container-hero-text {
        height: fit-content;
    }

    iframe{
        width: 100% !important;
    }

    .container-project{
        width: 100%;
        height: 90%;
    }
}

@media (min-width: 769px) {
    .navbar-item:hover {
        color: var(--color-text-white);
        transform: translateY(3px);
    }

    .container-hero-text .container-btn-cv a:hover {
        transform: translate(3px, 3px);
    }

    .container-thumb-tech:hover{
        transform: translate(3px, 3px);
        cursor: pointer;
    }

    .so-net:hover{
        fill: var(--color-text-orange);
        transform: scale(1.1);
    }

}