* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
}

a {
    text-decoration: none;
}

:root {
    --color-text-white: #e6e6e6;
    --color-text-orange: #ff703b;
    --bg-color: #0f0f0f;
    --bg-color-opacity: #1d1d1d13;
}

body {
    background-color: var(--bg-color);
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

html {
    font-size: 17px;
}

nav {
    position: fixed;
    top: 0;
    margin: 0 auto;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.brand {
    display: flex;
    position: relative;
    left: -100px;
    opacity: 0;
}

header>nav>a {
    font-size: 2rem;
    font-weight: 700;
}

#ld,
#lm {
    background-color: var(--bg-color);
    z-index: 1;
}

#name {
    color: var(--color-text-orange);
}

#surname {
    color: var(--color-text-white)
}

#name,
#surname {
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

#lname {
    animation: anim 20s 3s ease-in infinite;
}

#lsurname {
    animation: anim 20s 4.25s ease-in infinite;
}

@keyframes anim {
    5% {
        transform: translateX(-100%);
        margin-right: -93.64px;
    }

    50% {
        transform: translateX(-100%);
        margin-right: -93.64px;
    }

    55% {
        transform: translateX(0%);
        margin-right: 0px;
    }

    100% {
        transform: translateX(0%);
        margin-right: 0px;
    }
}

.navbar-menu {
    display: flex;
}

.navbar-item {
    position: relative;
    left: 100px;
    opacity: 0;
    color: #ff703b;
    font-weight: 600;
    padding: 0 10px;
    display: block;
}

nav .navbar-burger {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 7px 0px;
    display: none;
    z-index: 3;

}

.navbar-burger span {
    background-color: white;
    width: 20px;
    height: 1px;
    display: block;
    transform-origin: top left;
    transition: all .1s ease-in;
}

.navbar-burger.is-active span:first-child {
    transform: rotate(45deg);
    width: 24px;
}

.navbar-burger.is-active span:nth-child(2) {
    transform: translateX(-100%);
    opacity: 0;
}

.navbar-burger.is-active span:nth-child(3) {
    transform: rotate(-46deg);
    width: 24px;
}

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 54px 20px 0px 20px;
    align-items: center;
}

.img-hero{
    position: relative;
    left: -100px;
    opacity: 0;
}

.img-hero-back{
    z-index: -1;
}

.img-hero {
    width: 30vw;
}

.container-hero-text {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-hero-text h1 {
    position: relative;
    top: 100px;
    opacity: 0;
    color: var(--color-text-orange);
    font-size: clamp(40px, 5vw, 70px);
    margin-bottom: 20px;
}

.container-hero-text p {
    position: relative;
    top: 100px;
    opacity: 0;
    color: var(--color-text-white);
    font-size: clamp(16px, 1.7vw, 40px);
}

.container-hero-text p a{
    color: var(--color-text-orange);
}

.container-btn-cv {
    position: relative;
    top: 100px;
    opacity: 0;
    width: 80%;
    display: flex;
    justify-content: end;
    margin-top: 10px;
    height: 40px;
}

.container-btn-cv::before {
    content: "";
    top: 0;
    right: 0;
    width: 120px;
    height: 100%;
    border-radius: 5px;
    background-color: var(--color-text-orange);
    transform: translateX(120px);
    z-index: -1;
}

.container-hero-text .container-btn-cv a {
    background-color: var(--bg-color);
    color: var(--color-text-white);
    width: 120px;
    min-width: 120px;
    padding: 3px 0px;
    text-align: center;
    border-radius: 5px;
    font-size: 25px;
    border: 2px solid var(--color-text-orange);
    transition: all .1s ease-in;
}

@media (max-width: 768px) {
    nav .navbar-burger {
        display: flex;
    }

    nav .navbar-menu {
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        background-color: var(--bg-color-opacity);
        backdrop-filter: blur(10px);
        z-index: 2;
        transition: all .4s ease-in;
    }

    .show-menu {
        left: 0px !important;
    }

    .navbar-item {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .bodyScrollLock {
        overflow-y: hidden;
    }

    .container-hero-text {
        z-index: -1;
    }
}

@media (max-width: 425px) {
    .hero {
        flex-direction: column-reverse;
        justify-content: start;
        align-items: initial;
        padding-top: 60px;
    }

    .img-hero {
        width: 50vw;
    }

    .container-hero-text {
        height: fit-content;
    }
}

@media (min-width: 769px) {
    .navbar-item:hover {
        color: var(--color-text-white);
        transform: translateY(7px);
    }

    .container-hero-text .container-btn-cv a:hover {
        transform: translate(3px, 3px);
    }

}