* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
}

a{
    text-decoration: none;
}

:root{
    --color-text-white: #e6e6e6;
    --color-text-orange: #ff703b;
    --bg-color: #1d1d1d;
}

body{
    background-color: var(--bg-color);
    max-width: 1280px;
    margin: 0 auto;
}

html {
    font-size: 17px;
}

nav{
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#brand{
    display: flex;
}

header>nav>a{
    font-size: 2rem;
    font-weight: 700;
}

#name{
    display: flex;
    color: var(--color-text-orange);
}

#surname{
    padding-left: 6px;
    display: flex;
    color: var(--color-text-white);
}

#clname, #clsurname{
    overflow-x: hidden;
}

#lname{
    display: block;

    animation: move-lf 20s ease-in infinite;
}

#surname{
    animation: move-lf 20s ease-in infinite;
}

#lsurname{
    display: block;

    animation: move-lf 20s 1.2s ease-in infinite;
}

@keyframes move-lf {
    5%{
        transform: translateX(-100px);
    }50%{
        transform: translateX(-100px);
    }55%{
        transform: translateX(0px);
    }100%{
        transform: translateX(0px);
    }
}

#navbar-menu{
    display: flex;
}

.navbar-item:first-child{
    /* border: 1px solid var(--color-text-white); */
    border-left: 1px solid var(--color-text-white);
    border-right: 1px solid var(--color-text-white);
    border-radius: 3px;
    /* box-shadow: 0px 0px 10px var(--color-text-white); */
}

.navbar-item{
    color: #ff703b;
    /* font-size: 1.1rem; */
    font-weight: 600;
    padding: 0 10px;
    display: block;
    transition: all .2s ease-in;
}

.navbar-item:hover{
    color: var(--color-text-white);
    transform: translateY(7px);
}